<div class="col-12">
    <div class="row justify-content-md-center">
        <h1>Office Radio</h1>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="col-12">
                <h4>Youtube Player</h4>
            </div>
            <div class="col-12">
                <youtube-player [height]="600" [width]="800" (ready)="savePlayer($event)" (change)="onStateChange($event)"></youtube-player>
            </div>
            <div class="col-12">
                <button type="button" class="btn btn-success" (click)="playVideo()">Play Youtube List</button>
            </div>
        </div>
        <div class="col-6">
            <div class="col-12 p-0 mb-2">
                <label for="item">Youtube Url</label>
                <input (keydown.enter)="getIdFromUrl()" type="text" class="form-control" placeholder="Enter content..." id="item" required [(ngModel)]="itemValue" name="item">
            </div>
            <div class="col-12">
                <div class="row" *ngFor="let item of items | async">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title"><b>{{item.title}}</b></h6>
                                <div class="row">
                                    <div class="col-10">
                                        <img src="{{item.image}}" height="120px" style="height:auto;" class="img-fluid" alt="Responsive image">
                                    </div>
                                    <div class="col-2">
                                        <a (click)="removeList(item.key)" class="btn btn-primary">X</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>